src/main/default/flows/Recommended_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Recommended Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommended Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Describe_Problem_Screen</name>
        <label>Describe Problem Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Provide_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>DescribeProblem</name>
            <extensionName>c:describeProblemScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseData</name>
                <value>
                    <elementReference>caseData</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseAssistId</name>
                <value>
                    <elementReference>caseAssistId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engineId</name>
                <value>
                    <elementReference>engineId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchHub</name>
                <value>
                    <elementReference>searchHub</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>caseData</assignToReference>
                <name>caseData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalScreen</name>
            <extensionName>c:finalScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provide_Details_Screen</name>
        <label>Provide Details Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Review_Help_Screen</targetReference>
        </connector>
        <fields>
            <name>ProvideDetails</name>
            <extensionName>c:provideDetailsScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseData</name>
                <value>
                    <elementReference>caseData</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engineId</name>
                <value>
                    <elementReference>engineId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>caseData</assignToReference>
                <name>caseData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Help_Screen</name>
        <label>Review Help Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <fields>
            <name>ReviewResources</name>
            <extensionName>c:reviewResourcesScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseData</name>
                <value>
                    <elementReference>caseData</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engineId</name>
                <value>
                    <elementReference>engineId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>recommended_flow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Describe_Problem_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseAssistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The ID of the engine instance the component registers to.</description>
        <name>engineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>case-assist-engine</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>searchHub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>case-assist-cookbook</stringValue>
        </value>
    </variables>
</Flow>
